/* Stylesheet for Martyn's webpages */

/* Under revision since it stopped working when switched to Github!! */

body{
  font-family:palatino
}

#header{
  position:absolute;
  top:0px;
  left:0px;
  height:120px;
  width:100%;
  background-color:#80D7F8
}

#header p{
  font-size:250%;
  font-weight:bold;
  color:#000080
}
