/* Stylesheet for Martyn's webpages */

/* Under revision since it stopped working when switched to Github!! */

body{
  font-family:palatino
}

#header{
  background-colour:#000000
}

#header p{
  font-size:250%;
  font-weight:bold;
  text-align:center;
  color:#FFFFFF
}
