/* Stylesheet for Martyn's webpages */

/* BODY:
   The background of the page is the same dark blue colour as used in
   the left menu column.  The idea, however, is that most of the time
   this colour will not be seen as the other content covers the page.
   The font is specified as Palatino throughout.  The margin is set at
   0 to remove the default boundaries that would appear around the
   various parts of the content (header, menu, etc.) */
body{
    background-color:#00539B;
    margin:0;
    font-family:palatino;
}


/* HEADER */

/* The header has a light blue colour (in St Andrews corporate style!)
   and is of fixed height */
#header{
    height:120px;
    width:100%;
    background-color:#80D7F8; 
}

/* Text in the header is centred, dark blue in colour, large and
   bold.  The "margin" parameters adjust its positioning slightly. */
#header p{
    text-align:center;
    font-size:250%;
    font-weight:bold;
    color:#000080;
}

/* The only image appearing in the header is the University crest.
   The following scales it and moves its location up a bit. */
#header img{
    float:left;
    margin-top:-18px;
    height:160px;
}


/* MENU COLUMN */

/* The menu column contains the menu: it is of fixed width (the same
   width as the margin of the main content) and a dark blue colour. */
#menucol{
    float:left;
    width: 160px;
    background-color:#00539B;
}

/* Define the menu: fixed position (so that it stays fixed when the
   rest of the document is scrolled).  The margin-left value is to
   push it to the left of the main content.  Text in the menu (the <p>
   entry) has a small amount of left padding and is white in colour.
   Links in this menu should look exactly the same as normal text,
   except when the mouse hovers over them, when they turn a slightly
   pinkish red colour. */
#menu{
    position:fixed;
    width:120px;
    background-color:#0D76EC;
    margin-top:20px;
    margin-left:-105px;
}
#menu p{
    padding-left:10px;
    color:white;
}
#menu a:link{
    text-decoration:none;
    color:white;
}
#menu a:visited{
    text-decoration:none;
    color:white;
}
#menu a:hover{
    text-decoration:none;
    color:#E85B57;
}

/* MAIN CONTENT */

/* The left margin has the same value as the width of the column that
   holds the menu.  The background is set to a very pale blue colour.
   The min-height value is to ensure that on a reasonably sized window
   the content (i.e., pale blue colour) will extend to the bottom of
   the window. */
#maincontent{
    margin-left:160px;
    background-color:#F3FBFB;
    padding-left:18px;
    padding-right:18px;
    padding-top:1px;
    padding-bottom:15px;
    min-height:463px;
}

/* Links in the main content should be the same colour as normal text
   (i.e., black), but turn the same pinkish red colour as in the menus
   when hovered over. */
a:link{
    text-decoration:none;
    color:#611C8C;
}
a:visited{
    text-decoration:none;
    color:#176E1A;
}
a:hover{
    text-decoration:none;
    color:#E85B57;
}

/* Sizes, etc., of headers in main content */
h1{
    font-size:125%;
    font-weight:bold;
}

h2{
    font-size:110%;
    font-weight:bold;
}

/* Typographical definitions:
   para = used to typeset like the paragraph command in LaTeX
   other = used to typeset additional, less important, information on
           the page (hence the 85% scaling to the font) */
.para{
    font-weight:bold;
}
.other{
    font-size:85%;
}

/* Lists used for publications: the main list of publications is
   numbered in reverse order - which is what the first bits of code
   achieve.  The rest are ordered normally */
ol.references > li:before{
    content:counter(reverse) ".";
    left:187px;
    position:absolute;
}
ol.references li{
    list-style-type:none;
    padding-bottom:10px;
    counter-increment:reverse -1;}

ol.orderedreferences > li:before {
    content:counter(ordered) ". ";
    left:187px;
    position:absolute;}
ol.orderedreferences li {
    list-style-type: none;
    padding-bottom: 10px;
    counter-increment: ordered 1;}

/* Typographical settings for references */
.journal {font-style: italic;}
.booktitle {font-style: italic;}
.volume {font-weight: bold;}
